.container {
  display: flex;
  flex-direction: column;

  min-width: 200px;
  min-height: auto;
}

.row {
  display: flex;
  flex: 1;
}

.box {
  flex-direction: row;
  flex: 1;
  aspect-ratio: 1 / 1; /* Creates box to be square. */

/*   color: white; */
  border: 1px solid grey;
}

.color-class {
  background-color: black;
}

